

<div class="bliss-icon-text">
  <div class="bliss-icon-wrapper">
    <div class="bliss-box">
          <img src="https://cdn.shopify.com/s/files/1/0794/6731/5534/files/icons.png?v=1729506443">
        <h2 class="bliss_icontxt"> Plastic Free </h2>
    </div>
    <div class="bliss-box">
          <img src="https://cdn.shopify.com/s/files/1/0794/6731/5534/files/image_7.png?v=1729506541">
        <h2 class="bliss_icontxt"> No Bleach pr Phosphates</h2>
    </div>
    <div class="bliss-box">
          <img src="https://cdn.shopify.com/s/files/1/0794/6731/5534/files/icons_1.png?v=1729506631">
        <h2 class="bliss_icontxt"> Proven Formula </h2>
    </div>
    <div class="bliss-box">
          <img src="https://cdn.shopify.com/s/files/1/0794/6731/5534/files/image_8.png?v=1729506671">
        <h2 class="bliss_icontxt"> Biologisch Aftbreekbaar </h2>
    </div>
  </div>
</div>


<style>
  .bliss-icon-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.bliss-icon-text {
    width: 100%;
   
}
.bliss-box {
    width: 50%;
    display: flex;
    gap: 14px;
    align-items: center;
    padding: 15px 0px;
}
.bliss-box h2 {
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
     margin: 0px;
    
}
  @media screen and (max-width: 767px) {
  .bliss-box {
    display: flex;
        gap: 8px;
        align-items: center;
        padding: 10px 0px;
}
    .subscribe-section .ktc-title span {
    font-size: 18px;
    padding: 5px;
}
    .bliss-box h2 {
    font-size: 14px;
    
}
    .bliss-box img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
       
}
</style>