<div class="subscribe-section">
  <div class="subscribe-save active">
    <div class="subscribe-wrapper">
      <div class="subscribe-left">
        <input type='radio' id="subsc" name='subscribe' checked />
      </div>
      <div class="subscribe-right">
        <label for="subsc" class="subscribe-title">
          <h4>Single <span class="sub_price">Standard price</span></h4>
          <p class="subscribe-price"> <span class="actual-price"> $22.50 </span></p>
        </label>
        

      </div>
    </div>
  </div>

  <div class="subscribe-save active">
    <span class="bestsellar">MOST POPULAR</span>
    <div class="subscribe-wrapper">
      <div class="subscribe-left">
        <input type='radio' id="subsc" name='subscribe' checked />
      </div>
      <div class="subscribe-right">
        <label for="subsc" class="subscribe-title">
          <h4>Duo <span class="sub_price">You save €4,48</span></h4>
          <p class="subscribe-price"><span class="discount-price">$25.00</span> <span class="actual-price"> $22.50
            </span></p>
        </label>
      
        <div class="subscribe-var">
          <div class="custom-select" style="width:200px;">
            <select>
              <option value="0">small</option>
              <option value="1">small</option>
              <option value="2">small</option>
            </select>

            <select>
              <option value="0">Black</option>
              <option value="1">Black</option>
              <option value="2">Black</option>
            </select>
          </div>
          <div class="custom-select" style="width:200px;">
            <select>
              <option value="0">small</option>
              <option value="1">small</option>
              <option value="2">small</option>
            </select>

            <select>
              <option value="0">Black</option>
              <option value="1">Black</option>
              <option value="2">Black</option>
            </select>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="subscribe-save sub-2">

    <div class="subscribe-wrapper">
      <div class="subscribe-left">
        <input type='radio' id="subsc2" name='subscribe' />
      </div>
      <div class="subscribe-right">
        <label for="subsc2" class="subscribe-title">
          <h4>Trio <span class="sub_price">You save €11,21</span></h4>
          <p class="subscribe-price"><span class="discount-price">€44,85</span> <span class="actual-price">€33,64
          </span></p></label>

          <div class="subscribe-var">
            <div class="custom-select" style="width:200px;">
              <select>
                <option value="0">small</option>
                <option value="1">small</option>
                <option value="2">small</option>
              </select>
  
              <select>
                <option value="0">Black</option>
                <option value="1">Black</option>
                <option value="2">Black</option>
              </select>
            </div>
            <div class="custom-select" style="width:200px;">
              <select>
                <option value="0">small</option>
                <option value="1">small</option>
                <option value="2">small</option>
              </select>
  
              <select>
                <option value="0">Black</option>
                <option value="1">Black</option>
                <option value="2">Black</option>
              </select>
            </div>
            <div class="custom-select" style="width:200px;">
              <select>
                <option value="0">small</option>
                <option value="1">small</option>
                <option value="2">small</option>
              </select>
  
              <select>
                <option value="0">Black</option>
                <option value="1">Black</option>
                <option value="2">Black</option>
              </select>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>