<div class="recommended-img-box">
 <div class="summary__title"><h2 class="h3 accordion__title">Vind de jouwe BLISS</h2></div>
<div class="recommended-img-text">
 
  <div class="recommended-img-wrapper">
    
    <div class="recommended-bliss-box">
          <img class="recomm-img" src="https://cdn.shopify.com/s/files/1/0794/6731/5534/files/Zwart2_802e6919-951f-48f0-a893-f095f07d668d.webp?v=1730128205">
        <h2 class="recommend-bliss_icontxt"> Bliss Geurbooster </h2>
         <div class="price__container new">
            <span class="price-item price-item--regular"> €12,95 EUR</span>
         </div>
     <Div class="cstm_crtrecmn">     <img src="https://cdn.shopify.com/s/files/1/0794/6731/5534/files/cart.png?v=1732835270"></Div>
    </div>
  
  </div>
</div>
</div>


<style>
  .recommended-img-text {
    width: 50%;
        margin-top: 25px;
}
.recomm-img {
    width: 100%;
}

.recommended-img-wrapper {
    display: flex;
    gap: 20px;
    text-align: center;
}
  .recommend-bliss_icontxt {
    font-family: Mada, sans-serif !important;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    text-transform: uppercase;
    color:#90d5e4;
}
 .recommended-img-wrapper  span.price-item.price-item--regular {
    border-radius: 5000px;
    background: var(--orange-10, rgba(241, 127, 65, 0.1));
    color: var(--Orange, #f17f41);
    font-family: Mada;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 22px;
    text-transform: uppercase;
    padding: 8px 16px;
    margin: 8px 0 22px;
    margin-bottom: 31px;
}

.recommended-img-wrapper .price__container {
    margin-bottom: 25px;
}
</style>


