

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-545591874518254451.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-545591874518254451.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-545591874518254451.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-545591874518254451.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-545591874518254451.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-545591874518254451.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-545591874518254451.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-545591874518254451.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-545591874518254451.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-545591874518254451.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-545591874518254451.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-545591874518254451.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-545591874518254451.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-545591874518254451.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-545591874518254451.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-545591874518254451.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-545591874518254451.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-545591874518254451.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-545591874518254451.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-545591874518254451.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-545591874518254451.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-545591874518254451.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-545591874518254451.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-545591874518254451.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-545591874518254451.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-545591874518254451.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-545591874518254451.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-545591874518254451.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-545591874518254451.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-545591874518254451.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-545591874518254451.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-545591874518254451.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-545591874518254451.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-545591874518254451.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-545591874518254451.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-545591874518254451.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-545591874518254451.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-545591874518254451.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-545591874518254451.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-545591874518254451.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-545591874518254451.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-545591874518254451.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-545591874518254451.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-545591874518254451.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-545591874518254451.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-545591874518254451.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-545591874518254451.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-545591874518254451.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-545591874518254451.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-545591874518254451.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-545591874518254451.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-545591874518254451.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-545591874518254451.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-545591874518254451.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-545591874518254451.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-545591874518254451.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-545591874518254451 .gp-relative{position:relative}.gps-545591874518254451 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-545591874518254451 .gp-mb-0{margin-bottom:0}.gps-545591874518254451 .gp-flex{display:flex}.gps-545591874518254451 .gp-grid{display:grid}.gps-545591874518254451 .\!gp-hidden{display:none!important}.gps-545591874518254451 .gp-hidden{display:none}.gps-545591874518254451 .gp-max-w-full{max-width:100%}.gps-545591874518254451 .gp-flex-col{flex-direction:column}.gps-545591874518254451 .gp-gap-y-0{row-gap:0}.gps-545591874518254451 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-545591874518254451 .gp-duration-200{transition-duration:.2s}.gps-545591874518254451 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-545591874518254451 .tablet\:\!gp-hidden{display:none!important}.gps-545591874518254451 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-545591874518254451 .mobile\:\!gp-hidden{display:none!important}.gps-545591874518254451 .mobile\:gp-hidden{display:none}}.gps-545591874518254451 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-545591874518254451 .\[\&_p\]\:gp-inline p{display:inline}.gps-545591874518254451 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-545591874518254451 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gExh5wrsed" data-id="gExh5wrsed"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-5xl);--pl:15px;--pb:var(--g-s-5xl);--pr:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FDFCF9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gExh5wrsed gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gnvZzqQYl8 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gjpvD7cVRg" data-id="gjpvD7cVRg"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-3xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjpvD7cVRg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gbBtI6hpaF gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gWPP6vATpC">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gWPP6vATpC "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--c:#f17f41;--fs:normal;--ff:var(--g-font-Mada, 'Mada'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggWPP6vATpC_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gi86aPyWLI gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTJLwUJPMu">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gTJLwUJPMu "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggTJLwUJPMu_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gYte4mqENj">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gYte4mqENj "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggYte4mqENj_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mada/v19/7Aulp_0qnzeSVz7u3PJLcUMYOFkpl0k30e4.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
/* arabic */
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mada/v19/7Aulp_0qnzeSVz7u3PJLcUMYOFkpl0ky0e6fwniDtzNAAw.woff) format('woff');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* latin-ext */
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mada/v19/7Aulp_0qnzeSVz7u3PJLcUMYOFkpl0k50e6fwniDtzNAAw.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mada/v19/7Aulp_0qnzeSVz7u3PJLcUMYOFkpl0k30e6fwniDtzM.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-545591874518254451 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/0d5049-2/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=545591865425003379&sectionId=545591874518254451)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggWPP6vATpC_text","label":"ggWPP6vATpC_text","default":"EEN SCHONERE WERELD BEGINT BIJ KLEINE BEWUSTE KEUZES"},{"type":"html","id":"ggTJLwUJPMu_text","label":"ggTJLwUJPMu_text","default":"<p><span style=\"background-color:#fbfbfb;color:#000000;font-size:12pt;\">Bij Bliss Eco Clean delen we een gezamenlijke droom: een stralend schone was én een gezonde planeet voor de generaties van de toekomst. Vanuit onze passie voor duurzaamheid en ondernemerschap hebben we Bliss Eco Clean opgericht, een bedrijf dat bijdraagt aan een schonere wereld door kleine veranderingen in dagelijkse routines.</span></p>"},{"type":"html","id":"ggYte4mqENj_text","label":"ggYte4mqENj_text","default":"<p><span style=\"color:#242424;\"><strong>Nick &amp; HIdde</strong></span>&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
